@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor-fundo: #0A0214;        /* fundo quase preto, com toque violeta */
    --cor-principal: #1A0826;    /* roxo bem escuro para áreas principais */
    --cor-secundaria: #2E1A47;   /* violeta profundo para caixas/menus */
    --cor-destaque: #BB86FC;     /* violeta claro neon, chama atenção */
    --cor-texto: #E6DAF8;        /* texto em lilás bem suave */
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

.caixa-perguntas {
    margin-bottom: 15px;
    line-height: 1.5em;
}

h1 {
    color: var(--cor-destaque);
}

h1, .caixa-perguntas, .caixa-resultado{
    font-family: 'Chakra Petch', sans-serif;
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
    margin: 5px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);

}

.texto-resultado b {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    color: var(--cor-destaque);
    line-height: 1.5em;
}

.caixa-alternativas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.caixa-resultado{
    display: none;
}

.caixa-resultado.mostrar{
    display: block;
}